In [8]:
import pydbgen
import numpy as np
import pandas as pd
from pydbgen import pydbgen
import json

#create a dataframe with artificial transactions
def synthetic_transactions():
    
    month_range=pd.date_range('2020-06-24', periods=3, freq='M')
    monthly_expenditures=np.array(["Electricity","Groceries","Water","Debit order"])
    monthly_income=pd.DataFrame({"date":month_range,"debits":[22243.20]*len(month_range)
                                ,"description":["Settlement"]*len(month_range)})
    monthly_expenses=pd.DataFrame({"date": month_range, "debits": -1*np.round(np.random.uniform(400,1500,len(month_range)),2)
                          ,"description":monthly_expenditures[np.random.randint(0,len(monthly_expenditures),len(month_range))]})
    
    daily_expenditures=np.array(["Restaurant","Data bundles","Clothes","Entertainment","Fuel","Other"])
    day_range=pd.date_range('2020-06-24', periods=90, freq='D')
    daily_expenses=pd.DataFrame({"date": day_range[::np.random.randint(2,5)]})
    daily_expenses["description"]= daily_expenditures[np.random.randint(0,len(daily_expenditures),len(daily_expenses["date"]))]
    daily_expenses["debits"]= -1*np.round(np.random.uniform(20,2000,len(daily_expenses["date"])),2)
    
    transactions=pd.concat([monthly_expenses,daily_expenses,monthly_income])
    transactions=transactions.sort_values(by="date",ascending=False)
    transactions["balance"]=50000+np.cumsum(transactions["debits"].values)
    transaction_json = json.loads(transactions.to_json(orient='records'))
    balance=transactions["balance"].values[-1]
    return transaction_json,balance

js,a=synthetic_transactions()

In [23]:
def format(n):
    if len(n)==3:
        return n
    
    else:
        if len(n)%3==0:
            s=n[0:3]
            for i in range(3,len(n),3):
                s=s+" "+n[i:i+3]
            return s
        
        else:
            r=len(n)%3
            s=n[0:r]
            for i in range(r,len(n),3):
                s=s+" "+n[i:i+3]
            return s
print(format("21"))

21

In [12]:
data=pd.DataFrame(js)
print(data.dtypes)
data["date"]=pd.to_datetime(data["date"],unit='ms')
data.head()

date             int64
debits         float64
description     object
balance        float64
dtype: object

        date   debits description   balance
0 2020-09-20 -1049.94       Other  48950.06
1 2020-09-16  -411.57       Other  48538.49
2 2020-09-12  -624.24        Fuel  47914.25
3 2020-09-08  -897.38        Fuel  47016.87
4 2020-09-04  -203.93        Fuel  46812.94

In [3]:
transaction_json = json.loads(data.to_json(orient='records'))
print(transaction_json[0])

{'date': 1600560000000, 'debit_amount': -1088.74, 'description': 'Restaurant', 'balance': 48911.26}

In [ ]:
h=d[d["d"]>"2020-08-06"]
h.head()

In [ ]:
import hashlib 
  
# encoding GeeksforGeeks using md5 hash 
# function  
result = hashlib.md5(b'GeeksforGeeks') 
  
# printing the equivalent byte value. 
print("The byte equivalent of hash is : ", end ="") 
print(str(result.digest()))