In [3]:
import pydbgen
import numpy as np
import pandas as pd
from pydbgen import pydbgen
import json

#create a dataframe with artificial transactions
def synthetic_transactions():
    data_generator=pydbgen.pydb()
    month_range=pd.date_range('2020-06-24', periods=3, freq='M')
    monthly_expenditures=np.array(["Electricity","Groceries","Water","Debit order"])
    monthly_income=pd.DataFrame({"date":month_range,"debit_amount":[22243.20]*len(month_range)
                                ,"description":["Settlement"]*len(month_range)})
    monthly_income["reference"]=["Herring Ltd"]*3
    monthly_expenses=pd.DataFrame({"date": month_range, "debit_amount": -1*np.round(np.random.uniform(400,1500,len(month_range)),2)
                          ,"description":monthly_expenditures[np.random.randint(0,len(monthly_expenditures),len(month_range))]})
    
    references=data_generator.gen_dataframe(len(month_range),["company"])["company"].values
    monthly_expenses["reference"]=references
    
    daily_expenditures=np.array(["Restaurant","Data bundles","Clothes","Entertainment","Fuel","Other"])
    day_range=pd.date_range('2020-06-24', periods=90, freq='D')
    daily_expenses=pd.DataFrame({"date": day_range[::np.random.randint(2,5)]})
    daily_expenses["description"]= daily_expenditures[np.random.randint(0,len(daily_expenditures),len(daily_expenses["date"]))]
    daily_expenses["debit_amount"]= -1*np.round(np.random.uniform(20,2000,len(daily_expenses["date"])),2)
    references=data_generator.gen_dataframe(len(daily_expenses["date"]),["company"])["company"].values
    daily_expenses["reference"]=references
    transactions=pd.concat([monthly_expenses,daily_expenses,monthly_income])
    transactions=transactions.sort_values(by="date",ascending=False)
    transactions["balance"]=50000+np.cumsum(transactions["debit_amount"].values)
    transaction_json = json.loads(transactions.to_json(orient='records'))
    balance=transactions["balance"].values[-1]
    
    return transaction_json,np.round(balance,2)

#     return transaction_json,balance

js,a=synthetic_transactions()

In [30]:
myDB = pydbgen.pydb()
testdf=myDB.gen_dataframe(5,['name','city','phone','company'])
testdf.head()

            name       city  phone-number                         company
0  Madison Nixon   Bluetown  116-236-3633       Morton, Kirby and Michael
1  Kayla Barrett     Isabel  334-735-4861          Frank, Ball and Mosley
2    Anna Parker   Deferiet  277-607-4719       Ramirez, Lloyd and Riddle
3    Cory Porter     Owasso  722-588-3396                      Roth Group
4  Carrie Potter  Bryantown  153-587-8728  Strickland, Wilson and Hampton

In [4]:
data=pd.DataFrame(js)
data["date"]=pd.to_datetime(data["date"],unit='ms')
data.tail()

,date,debit_amount,description,reference,balance
46,2020-06-30,22243.20,Settlement,Herring Ltd,67676.70
47,2020-06-30,-783.95,Electricity,"Simmons, Watson and Callahan",66892.75
48,2020-06-28,-1237.28,Entertainment,"Bryant, Escobar and Johnson",65655.47
49,2020-06-26,-431.34,Fuel,Smith-Williams,65224.13
50,2020-06-24,-666.93,Restaurant,"Galvan, Harmon and Rogers",64557.20

In [3]:
transaction_json = json.loads(data.to_json(orient='records'))
print(transaction_json[0])

{'date': 1600560000000, 'debit_amount': -1088.74, 'description': 'Restaurant', 'balance': 48911.26}

In [ ]:
h=d[d["d"]>"2020-08-06"]
h.head()

In [ ]:
import hashlib 
  
# encoding GeeksforGeeks using md5 hash 
# function  
result = hashlib.md5(b'GeeksforGeeks') 
  
# printing the equivalent byte value. 
print("The byte equivalent of hash is : ", end ="") 
print(str(result.digest()))